*.iml
*.apk
*.aab
output.json
Thumbs.db
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
/app/build/
/.idea/
/imagePicker/build/
imagePicker/build/
gradle.properties